/BasicConcepts.owl
/GSNRendering.owl
/GsnInfer.owl
/GsnTest.owl
/KellyThesisUseCase.owl
/Shared.owl
/TestUasGsn.owl
/UAS.owl
/UasGsn.owl
/UasGsnRule.owl
/gsn.owl
/importshacl.owl
/CyberReq01GSN.owl
/CyberReq02GSN.owl
/DeliveryDrone.owl
/DeliveryDroneGSN.owl
/TestCyberReq01.owl
/TestCyberReq02.owl
/TestDeliveryDrone.owl
